




<h1><u>This page is designed for the moderator</u></h1>

<h4> Navigate a menu from the below for Editing</h4>

<table width="100%" border="30px" >
<tr>
<th><h2><%= link_to "Manage Earnings", "/earnings" %></h2></th>
<th><h2><%= link_to "Manage Costs", "/costs" %></h2></th>
<th><h2><%= link_to "Manage Members", "/members" %></h2></th>
</tr>
<tr>
	<td><h2><%= link_to "Manage Gallery", "/images" %></h2></td>
</tr>

</table>
