<p id="notice"><%= notice %></p>

<p>
  <h2><%= link_to image.title, image %></h2>
</p>

<p>
  <%= image_tag image.image %>
</p>

<p>
  
  <h4><%= simple_format image.description %></h4>
</p>